<div class="form-group">
    <div id="div1">
        <label for="recording">Choose any:</label>

        <select class="form-control" name="recordingType" id="recordingType">
<option value="video">video</option>
<option value="audio">audio</option>

</select>
    </div><br />
    <button type="button" class="btn btn-success" id="recordBtn" (click)="startRecording()">record</button>
    <button type="button" class="btn btn-success" style="display: none;" id="stopBtn" (click)="stopRecording()">stop</button>
</div>

<video style="display: none;width: 100%;margin:0px auto;" autoplay="autoplay" id="player" controls>
  
</video>
<br />


<br />
<a href="#" style="display: none;" id="download">Download</a>

<router-outlet>



</router-outlet>